<!--<pre>{{searchResult}}</pre>-->
<ul class="article">
    <li ng-repeat="item in searchResult.items | filter:searchModel.sort | orderBy:full_name:searchModel.order === 'desc' " class="thumbnail">
        <a class="thumb">
            <img class="img-responsive img-circle img-thumbnail" ng-src="{{item.owner.avatar_url}}" alt="avatar image" />
        </a>
        <h4> <a href="" ng-click="showDetails(item.html_url)">{{item.full_name}}</a></h4>
        <p>{{item.description}}</p>
        <div>
            <span class="article-item-padding"> <md-tooltip>Forks Count</md-tooltip> <span class="badge">{{item.forks_count}}</span> </span>
            <span class="article-item-padding"><md-tooltip>Stargazers Count</md-tooltip><span class="badge">{{item.stargazers_count}}</span></span>
            <span class="article-item-padding"><md-tooltip>Open Issues</md-tooltip><span class="badge">{{item.open_issues_count}}</span></span>
            <!--<span>Open Issues:<strong>{{item.open_issues_count}}</strong></span>-->
            <a href="" ng-click="showStatusReport($event,$index);" ng-aria="view report">
                <md-tooltip>View Status Report</md-tooltip>View<span class="glyphicon glyphicon-stats"> </span>
                <a href="">
                    <span class="article-item-padding" ng-if="item.has_issues"><a href="#!/issue/{{item.full_name}}"><md-tooltip><strong>View Issue Details</strong></md-tooltip><span class="glyphicon glyphicon-exclamation-sign"></span>View</a>
                </span>
        </div>
    </li>
</ul>